@import '../../assets/scss/variables';

.order_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    margin-bottom: 25px;
    font-size: 36px;
    letter-spacing: 1px;
    color: $color-white;
  }

  .order_burger {
    margin-bottom: 25px;
    max-width: 320px;
    width: 100%;
  }

  .order_actions {
    padding-top: 10px;

    > button {
      margin: 0 10px;
      padding: 8px 10px;
      font-size: $font-md;
  
      &.order_btnOrder {
        background-color: $color-green;
        border-color: $color-green;

        &:hover {
          color: $color-green;
          background-color: $color-dark-grey;
        }
      }
    }
  }
}