@import 'assets/scss/_variables';

.burgerItem__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 380px;
  width: 100%;
  text-align: center;
  
  > p {
    margin: 5px auto;
    font-size: $font-md + 2;
    font-weight: bold;
    color: $color-white;
  }
}
