@import 'assets/scss/_variables';

.NavWrapper {
  display: none;
  justify-content: flex-end;
  align-items: center;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: inline-block;

      .NavItem {
        display: inherit;
        padding: 0 15px;
        font-weight: 600;
        color: $color-white;
        transition: color $trans;

        &:global(.active) {
          color: $color-yellow;
        }

        &:hover:not(:global(.active)) {
          color: $color-white - 80;
        }
      }
    }
  }

  @media (min-width: $md) {
    display: flex;
  }
}