@import '../../../assets/scss/variables';

.no_order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  color: $color-white;

  > svg {
    max-width: 250px;
    max-height: 250;
    fill: $color-yellow;
  }

  > h1 {
    padding: 25px 0;
  }

  > p > a {
    font-weight: 600;
    color: inherit;
    text-decoration: underline;
    transition: color $trans;

    &:hover {
      color: $color-yellow;
    }
  }
}