@import '../../assets/scss/variables';

.orders_title {
  font-size: 36px;
  text-align: center;
  color: $color-yellow;
}

.orders_list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
}